<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class = "field  d-flex justify-content-center col-12 flex-wrap mt-5"> 
  <div class="field">
    <%= form.label :content, class: "from-control col-10"%>
    <%= form.text_field :content , class: "from-control col-12"%>
  </div>

<div class = "field  d-flex justify-content-center col-12 flex-wrap mt-3">  
    <%= form.submit "投稿", class: "btn btn-primary col-3 "%>
  </div>
    </div>
  </div>
<% end %>
