    <h1>投稿詳細ページ</h1>
<div class = "field  d-flex justify-content-center col-12 flex-wrap mt-5 text-center">
  <div class ="card col-6">  
        <%if !@post.user.nickname.presence%>
          <h3>匿名さんの投稿</h3>
          <h3>「<%= @post.content %>」</h3>
        <%else%>
          <h3><a href="/users/<%= @post.user.id %>"><%= @post.user.nickname %></a></h3>
          <h3><%= @post.content %></h3>
        <%end%>
    <div class = "row">
        <div class = "col-12">
            <div  class = "card mb-2">
              <%if @post.image.attached?%>
                <%= image_tag @post.image, class: "card-img-top"%>
              <%end%>
            </div>
        </div>
    </div>
      <h3>いいねの数 <%= @post.likes.count %></h3>
        <% if current_user.already_liked?(@post) %>
          <%= button_to 'いいねを取り消す', post_like_path(@post),class: "btn btn-outline-info", method: :delete %>
        <% else %>
          <%= button_to 'いいね', post_likes_path(@post),class: "btn btn-outline-info" %>
        <% end %>
        <h2>いいねしたユーザー</h2>
        <% @post.liked_users.each do |user| %>
          <%if !user.nickname.presence%>
            <a>匿名さん</a>
          <%else%>
            <%= user.nickname %>
          <% end %>
        <%end%>

    <h2 class ="card-text mt-5">コメント覧</h2>
    <% @comments.each do |c| %>
      <div>
        <%if !@post.user.nickname.presence%>
          <a>匿名</a>
          <a>「<%= @post.content %>」</a>
        <%else%>
          <a href="/users/<%= @post.user.id %>"><%= @post.user.nickname %></a>
          <a>「<%= @post.content %>」</a>
        <%end%>
        <hr>
      </div>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content %>
        <%= f.hidden_field :post_id, value: @post.id %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-primary col-3  mt-4" %>
    <% end %>

    <%= link_to "ホームへ戻る", posts_path %>
  </div>
</div>
