    <h1>投稿詳細ページ</h1>
<div class = "field  d-flex justify-content-center col-12 flex-wrap mt-5 text-center">
  <div class ="card col-6">  

    <h3><a href="/users/<%= @post.user.id %>"><%= @post.user.nickname %></a></h3>
    <h3><%= @post.content %></h3>
    <div class = "row">
        <div class = "col-12">
            <div  class = "card mb-2">
              <%if @post.image.attached?%>
                <%= image_tag @post.image, class: "card-img-top"%>
              <%end%>
            </div>
        </div>
    </div>
    <h4 class ="card-text mt-5">コメント覧</h4>
    <% @comments.each do |c| %>
      <div>
        <a href="/users/<%= @post.user.id %>"><%= c.user.nickname %></a>
        <%= c.content %>
        <hr>
      </div>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_field :content %>
        <%= f.hidden_field :post_id, value: @post.id %>
      <br>
      <%= f.submit 'コメントする', class: "btn btn-primary col-3  mt-4" %>
    <% end %>

    <%= link_to "ホームへ戻る", posts_path %>
  </div>
</div>
